ManualFrameworks/ filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/Info.plist filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/PPbeep.wav filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/en.strings filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/ocr_model.zzip filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/torchoff.png filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/torchoff@2x.png filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/torchoff_pressed.png filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/torchoff_pressed@2x.png filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/torchon.png filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/torchon@2x.png filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/torchon_pressed.png filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle/torchon_pressed@2x.png filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.framework/Headers filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.framework/Info.plist filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.framework/MicroBlink filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.framework/Modules filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.bundle filter=lfs diff=lfs merge=lfs -text
ManualFrameworks/MicroBlink.framework filter=lfs diff=lfs merge=lfs -text
